<MudDialog>
    <DialogContent>
        <div class="ma-4">
            <img class="img-thumbnail" src="https://img.youtube.com/vi/@Context.BackgroundCode/default.jpg">
        </div>
        <div class="ma-4">
            <img class="img-thumbnail" src="https://img.youtube.com/vi/@Context.IntroCode/default.jpg">
        </div>
        <MudText>@Context.MainText</MudText>
        <MudText>@Context.BodyText</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Отменить</MudButton>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Delete">Удалить</MudButton>
    </DialogActions>
</MudDialog>

@code { [CascadingParameter] MudDialogInstance MudDialog { get; set; }

            [Parameter] public Intro Context { get; set; }

            void Delete() => MudDialog.Close(DialogResult.Ok(Context));
            void Cancel() => MudDialog.Cancel(); }
