@inject StorageService StorageService

@page "/"
<div class="video-container">
    <div class="video-foreground">
        <iframe src="@backgroundVideoSource" allowFullScreen></iframe>
    </div>
</div>

<div class="container-promo">
    <div class="video-promo">
        <iframe style="height:51vh;width:90vh;" src="@introVideoSource" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="index-content">
    <MudText Class="m-2" Typo="Typo.h2">@intro?.MainText</MudText>
    <MudText Class="m-2" Typo="Typo.body1">@intro?.BodyText</MudText>
    <MudButton Link="gallery" Variant="Variant.Outlined" Size="Size.Large" Style="@buttonStyle">Вход</MudButton>
</div>

@code { 
    
    private Intro intro = null;
    private string backgroundVideoSource;
    private string introVideoSource;
    private string buttonStyle = $"color:{Colors.Grey.Lighten5}";

    protected override void OnInitialized()
    {
        intro = StorageService.GetFirstIntro();

        backgroundVideoSource = string.IsNullOrEmpty(intro.BackgroundCode)
            ? "https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&loop=1&autoplay=1&playlist=W0LHTWG-UmQ"
            : $@"https://www.youtube.com/embed/{intro.BackgroundCode}?controls=0&loop=1&autoplay=1&playlist={intro.BackgroundCode}";

        introVideoSource = string.IsNullOrEmpty(intro.IntroCode)
            ? "https://www.youtube.com/embed/W0LHTWG-UmQ?playlist=W0LHTWG-UmQ"
            : $@"https://www.youtube.com/embed/{intro.IntroCode}?playlist={intro.IntroCode}";
    }
}



