@inherits LayoutComponentBase

<div class="page">
    

    <div class="main">
        <div class="top-row px-4">

            <Menu />


            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> <h3>BlazorGallery</h3>
            </NavLink>

            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Логин для админа
            </NavLink>

            


        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
